<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Digital Codes">
<parameter name="tagname" value="smoke"></parameter>

<listeners>
<listener class-name="com.Digitalcodes.testcases.LogResult"></listener>

</listeners>

	<test name="Test" preserve-order="true">
	<parameter name="Browser" value="chrome"></parameter>
	<parameter name="User" value="PREMIUM"></parameter>
		<classes>
			<class name="com.Digitalcodes.testcases.Login_Test" />
	     <!--    <class name="com.Digitalcodes.testcases.Title_LandingPage_Test" /> -->
	      <!--    <class name="com.Digitalcodes.testcases.TableOfContent_Test"/> -->
			<class name="com.Digitalcodes.testcases.Title_SectionPage_Test" >
          <methods>
          <include name="TC24_verifyCreateNotes_atChildSubsection"></include>
          </methods>
			</class>
		 
			
	 	</classes>
		
	</test> <!-- Test -->
</suite> <!-- Suite -->
